services:
  dockipelago-caddy:
    build: .
    container_name: dockipelago-caddy
    volumes:
      - /home/${USER}/archipelago/custom_worlds:/app/custom_worlds
      - dockipelago-data:/app/data
      - dockipelago-config:/app/config
    restart: unless-stopped
    networks:
      - caddy

networks:
  caddy:
    external: true
    name: ${CADDY_NETWORK:-caddy}

volumes:
  dockipelago-data:
  dockipelago-config: